{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
    Карта об'єктів компанії | AgroSphere
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <link href="{% static 'geo_analytics/css/map_dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section>
        <div class="d-flex justify-content-between 
                    align-items-center mb-3">
            <h2>Карта об'єктів компанії</h2>

            {% if perms.geo_analytics.add_field %}
                <a href="{% url 'field_add' %}" 
                   class="btn btn-primary">
                    + Додати поле
                </a>
            {% endif %}
        </div>

        <div id="map"></div>
    </section>
{% endblock %}

{% block scripts %}    
    {{ fields_json|json_script:"fields-data" }}

    <script>
        const userPermissions = {
            canChangeField: {% if perms.geo_analytics.change_field %}true{% else %}false{% endif %},
            canDeleteField: {% if perms.geo_analytics.delete_field %}true{% else %}false{% endif %}
        };
    </script>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="{% static 'geo_analytics/js/map_dashboard.js' %}"></script>
{% endblock %}